/**
 * @name Addon: Badge Scale Animation
 * @version 1.0
 * @description Add animation for your badge
 * @author sangsisreal
 * @source https://github.com/sang765/Discord-CSS-Snippets
 * @website https://github.com/sang765
 */

/* Badge Scale Animation */
[class*="anchorUnderlineOnHover"],
.vc-platform-indicator /*Vencord Platfrom Badge*/{
  scale: 1;
  transition: all 0.5s;
}
[class*="anchorUnderlineOnHover"]:hover,
.vc-platform-indicator:hover {
  scale: 1.3;
}
/* Fix Scale */
[class*="embedTitle_"],
[class*="embedAuthorName_"],
[class*="downloadLink_"],
[class*="hoverButton_"],
[class^="anchor_"],
[class*="anchorUnderlineOnHover_"] {
  scale: 1 !important;
}