/**
 * @name Addon: Badge Scale Animation
 * @version 1.0
 * @description Add animation for your badge
 * @author sangsisreal
 * @source https://github.com/sang765/Discord-CSS-Snippets
 * @website https://github.com/sang765
 */

/* Badge Scale Animation */
a.anchor_c8ddc0.anchorUnderlineOnHover__03b72 > img.profileBadge22_e4866d.profileBadge__3cc69,
.vc-platform-indicator /*Vencord Platfrom Badge*/{
  scale: 1;
  transition: all 0.5s;
}
a.anchor_c8ddc0.anchorUnderlineOnHover__03b72:hover > img.profileBadge22_e4866d.profileBadge__3cc69,
.vc-platform-indicator:hover {
  scale: 1.25;
}