/**
 * @name Addon: Center Profile
 * @version 1.0
 * @description Margin your profile to center
 * @author sangsisreal
 * @source https://github.com/sang765/Discord-CSS-Snippets
 * @website https://github.com/sang765
 */

/* Center Profile */
[class^="UserProfile_"] {
  text-align: center;
}
[class*="nameTagSmall_"],
[class*="title_"],
[class*="container_"],
[class*="UserProfileSection_"] > div,
[class*="tabBar_"],
[class*="guildNick_"],
[class*="connectedAccountNameTextContainer_"],
[class*="connectedAccountChildren_"] {
  justify-content: center;
}
div.TextProps__defaultColor.defaultColor__30336.TextStyle__text-lg\/semibold.text-lg-semibold__9539a {
  margin-right: 0px !important;
}
[class*="textLeft_"] {
  display: flex;
}
[class*="userInfoText_"],
[class*="profileMutuals_"],
[class*="mainContainer_"] {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 10px;
}
[class*="note_"] textarea,
[class*="textarea_"] {
  text-align: center;
}
/* Hide Copy Username Button */
[class*="clickTarget_"] > div > div:nth-child(2) {
    display: none;
}
/* Fix Welcome New Member Message To Center*/
[class*="ThreadStarterMessage_"] {
  justify-content: left !important;
}