/**
 * @name Addon: Center Profile
 * @version 1.0
 * @description Margin your profile to center
 * @author sangsisreal
 * @source https://github.com/sang765/Discord-CSS-Snippets
 * @website https://github.com/sang765
 */

/* Center Profile On Simplified Profile */
/* biteSizeOuter */
[class*=SizeOuter] [class^=usernameRow],
[class*=SizeOuter] [class^=tags_],
[class*=SizeOuter] [class^=root_],
[class*=SizeOuter] [class^=body] [style^=gap],
[class*=SizeOuter] [class^=mutuals_],
[class*=SizeOuter] [class^=container] [class^=buttonContainer],
[class^=biteSizeOuter_] [class^=activityBiteSizePopout_] [class^=headerContainer_],
[class^=biteSizeOuter_] [class^=activityBiteSizePopout_] [class^=details_],
[class*=SizeOuter] [class^=blockquoteContainer]:has([class^=blockquoteDivider]),
[class^=biteSizeOuter] [role=group] /*Badges*/{
  justify-content: center;
}
[class*=SizeOuter] [class^=nicknameIcons] {
  display: none;
}
[class*=SizeOuter] [class^=descriptionClamp],
[class*=SizeOuter] [class^=container] [class^=defaultColor],
[class^=biteSizeOuter_] [class^=activityBiteSizePopout_] {
  text-align: center;
}
[class*=SizeOuter] [class^=viewFullBio] {
  left: 9.5vh;
}
[class^=activityBiteSizePopout] [class^=textLeft] {
  text-align: left;
}
/* fullSizeOuter */
[class*=SizeOuter] [class^=tabBar],
[class*=SizeOuter] [class^=memberSinceWrapper] {
  justify-content: center;
}
[class*=SizeOuter] [class^=markup],
[class*=SizeOuter] [class^=section] [class*=defaultColor],
[class*=SizeOuter] textarea {
  text-align: center;
}
[class^=fullSizeOuter] [class^=activitySimplifiedProfile] [class^=defaultColor] {
  text-align: left;
}
/* User Panel */ 
[class^=userPanelOuter] [class^=usernameRow],
[class^=userPanelOuter] [class^=tags_] {
  justify-content: center;
}
[class^=userPanelOuter] [class^=overlayBackground] [class^=section] {
  text-align: center;
}
[class^=userPanelOuter] [class^=nicknameIcons] {
  display: none;
}