/**
 * @name Addon: Center Profile
 * @version 2.0
 * @description Margin your profile to center
 * @author sangsdayy
 * @source https://github.com/sang765/Discord-CSS-Snippets/blob/main/Center%20Profile/CenterProfile.theme.css
 * @website https://github.com/sang765/Discord-CSS-Snippets
 * @authorId 926519119849869322
 */

/* Center Profile On Simplified Profile */
[class^=outer] [class^=usernameRow],
[class^=outer] [class^=tags_],
[class^=outer] [class^=root_],
[class^=outer] [class^=body] [style^=gap],
[class^=outer] [class^=mutuals_],
[class^=outer] [class^=chipletContainerInner],
[class^=outer] [class^=container] [class^=buttonContainer],
[class^=biteOuter_] [class^=activityBiteOuterPopout_] [class^=headerContainer_],
[class^=biteOuter_] [class^=activityBiteOuterPopout_] [class^=details_],
[class^=outer] [class^=blockquoteContainer]:has([class^=blockquoteDivider]),
[class^=biteOuter] [role=group], /*Badges*/
[class^=outer] [class^=tabBar],
[class^=outer] [class^=memberSinceWrapper],
[class^=outer] section [class^=list],
[class^=userPanelOuter] [class^=usernameRow],
[class^=userPanelOuter] [class^=tags_] {
	justify-content: center;
}
[class^=outer] [class^=nicknameIcons],
[class^=userPanelOuter] [class^=nicknameIcons] {
	display: none;
}
[class^=outer] [class^=chipletContainerInner] {
	display: flex;
}
[class^=outer] [class^=descriptionClamp],
[class^=outer] [class^=container] [class^=defaultColor],
[class^=biteOuter_] [class^=activityBiteOuterPopout_],
[class^=outer] [class^=markup],
[class^=outer] [class^=section] [class*=defaultColor],
[class^=outer] textarea,
[class^=userPanelOuter] [class^=overlayBackground] [class^=section] {
	text-align: center;
}
[class^=outer] [class^=viewFullBio] {
	margin: 12px auto 0px;
}
[class^=activityBiteOuterPopout] [class^=textLeft],
[class^=fullOuter] [class^=activitySimplifiedProfile] [class^=defaultColor] {
	text-align: left;
}
[class^=outer]:not(:has([class^="visibleContainer"])) [class^=avatar][class*="clickable"] {
	left: 36.5%;
}
[class^=outer] [class^=footer]:has(button) [class^=wrapper][class*=biteSize]:has(:nth-child(1):last-child),
[class^=outer]:has([class^="visibleContainer"]) [class^=wrapper][class*=biteSize]:has(:nth-child(3):last-child),
[class^=outer]:has([class^="visibleContainer"]) [class^=wrapper][class*=biteSize]:has(:nth-child(4)) {
	right: 12px;
}
[class^=outer] [class^=wrapper][class*=biteSize]:has(:nth-child(4)) {
	right: 24.7%;
}
[class^=outer] [class^=wrapper][class*=biteSize]:has(:nth-child(3):last-child) {
	right: 31.5%;
}
[class^=outer]:not(:has([class^="visibleContainer"])) [class^=wrapper][class*=biteSize]:has(:nth-child(2)) {
	right: 38%;
}
[class^=outer]:has([class*=biteSize]) [class^=addCustomStatusButtonBubble] [class^=statusBubbleOuter]::after,
[class^=outer]:has([class*=biteSize]) [class^=addCustomStatusButtonBubble] [class^=statusBubbleOuter]::before {
	display: none;
}
[class^=outer]:has([class*=biteSize]) [class^=addCustomStatusButtonBubble] {
	top: 30px;
	margin-top: 10px;
    	left: 92px;
	margin-bottom: 25px;
}
[class^='mask_'] > foreignObject {
	mask-image: none;
}
[class^=wrapper] [class^="mask_"] foreignObject [class^=avatarStack] img,
[id^=chat-message] [class^=contents] [class^=avatar_] {
	border-radius: 50px;
}
