/**
 * @name Addon: Stream Picture in Picture Opacity
 * @version 1.0
 * @description Change the opacity of stream pictures in picture
 * @author sangsisreal
 * @source https://github.com/sang765/Discord-CSS-Snippets
 * @website https://github.com/sang765
 */

/* Stream Picture in Picture Opacity */
.pictureInPictureVideo_f1081d {
  opacity: 0.5;
  transition: opacity 0.5s;
}

.pictureInPictureVideo_f1081d:hover {
  opacity: 1;
}
